body {
    margin: 0;
}

#hero-elbrus {
    text-align: center;
    /*padding-bottom: 870px;*/
    padding-bottom: 45%;
    background-image: url("images/elbrus.jpg");
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
