body {
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-style: italic;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px pink;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#bff-img {
    max-width: 50%;
    margin-left: 25%;
    border: 6px solid #EFB0C9;
    border-radius: 10%;
}

#hero {
    background-image: url("images/wallpaper.jpg");
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    text-align: center;
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gif-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-biden:hover {
    background-image: url("https://media.giphy.com/media/Dt0B7cFxr75famoPEO/giphy.gif");
}

#gift-img-di-caprio {
    height: 200px;
}

.first-text {
    margin-top: 1.5%;
}

#last-section-elbrus, #last-section-kabardino-balkarian, #last-section-abkhazia {
    margin-bottom: 1%;
}
